.metadata/
RemoteSystemsTempFiles
SapeStoreApp/target/
SapeStoreApp/.settings/
SapeStoreApp/.classpath
SapeStorePartnerServices/target/
SapeStorePartnerServices/.settings/
SapeStorePartnerServices/.classpath
